@import '../../../mixinsAndVariables';

.formContainer {
    text-align: center;

    form {
        display: grid;
        margin: 10px;
        padding: 5px;
        // justify-items: center;

        .timeFromTo {
            margin-top: 15px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto;

            .timeFromInput,
            .timeToInput {
                border: none;
                padding: 5px;
                margin: 5px;
            }
        }

        .postalCodeInput {
            width: 70px;
        }
        
        .eventNameInput,
        .startingDateInput,
        .timeFromTo,
        .ifOnlineInput,
        .placeInput,
        .streetInput,
        .postalCodeInput,
        .cityInput,
        .countryInput,
        .descriptionInput,
        select {
            @include inputField;
        }

        .eventNameInput,
        .placeInput,
        .streetInput {
            width: 250px;
        }

        select {
            width: 200px;
        }

        textarea {
            width: 90%;
            @include inputField;
        }

        label {
            margin: 10px 0;
            font-family: $decorative-font;
        }

        .descriptionInput {
            height: 200px;
        }

        .timeFromTo {
            display: flex;
        }
    }
    
    .newEventButton {
        @include buttonStyle;
    }

    .newEventButton:hover {
        @include buttonStyleHover;
    }
}


//tablet 
@media screen and (min-width:526px) {

    .formContainer {
        text-align: center;

        form {

            textarea {
                width: 50%;
            }

        }
    }

}

//desktop
@media only screen and (min-width : 1038px) {

    .formContainer {
        text-align: center;

        form {

            textarea {
                width: 40%;
            }

        }
    }
}