.formContainer {
    form {
        display: grid;
        margin: 5px;
        padding: 5px;
        justify-items: center;
        background: pink;
        
        input,
        select,
        textarea {
            width: 60%;
        }

        label {
            margin: 10px 0;
        }

        .descriptionInput {
            height: 200px;
        }
    }
    
    button {
        margin: 10px 0;
        padding: 15px 5px;
    }
}


//tablet 
// @media screen and (min-width:526px) {

// }

//desktop
// @media only screen and (min-width : 1038px) {

// }