@import '../../mixinsAndVariables.scss';

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
.footer{
    background-color: $dark-blue;
    height:auto;
    max-height: 400px;
    // position:fixed;
    text-align: center;
    width:100%;
    // height: 90px;
 
    color: white;
   
   .address{
       margin: 10px;
       padding: 20px 0;
       display: flex;
       justify-content: center;
    //    margin-bottom: 20px;


       .fa-building{
           padding:2px;
           margin:2px;
           margin-left:25px;
           font-size: 0.8rem;
       }
       p{
           margin-left:1px;
           font-size: 0.8rem;
       }
   }
   .vl{
       border-top:2px solid $middle-blue;
        width:100%;
       
   }


   

        .all-links{
         list-style-type:none;
         margin:10px;
         padding: 10px;
        // margin-left:40px;
        // margin-bottom: 20px;
        // display: flex;

        
            .links {
                padding:2px;
                color:white;
               
               .link{
                   color:white;
                   text-decoration:none;
               } 
             
            }

        }
        .anchor-heading{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            // align-items: flex-start;
            margin-top: 10px;
            padding: 10px;

                
              .anchors{

                h3{
                    font-size:0.8rem;
                    // margin-bottom:5px;            
                }
                .media-icons{
                    color:white;
                    margin:3px;
                    // margin-left:3px;

                }
                .blue{
                    color:rgb(140, 140, 236);
                }
                .pink{
                    color:pink;
                }
              }
          }
           
          @media screen and (min-width:526px){
             
              
            .address{
            //    display: flex;
            //    justify-content: center;
            // transform: translateX(100px);
            // margin-top: 30px;
            // padding:30px;
             
               
            .fa-building,.para{
                   font-size: 1.2rem;;
               }
            } 
            
            
            .all-links{
                  display: flex;
                //   margin:20px 5px ;
                justify-content: space-around;
                  .link{
                   padding:5px;
                  }
              }
              .anchor-heading{
                display: flex;
                flex-direction: row;
                // margin:30px;
                // margin-left: 20px;
           
              .anchors{
                  h3{
                      font-size: 1rem;
                  }
              }
            }
          }
         
        

          @media only screen and (min-width : 1038px){
            
            .anchors{
                  display: flex;
                  flex-direction: row;

                  h3{
                      margin-right:15px;
                      margin-top:5px;
                  }
              }
          }
        }
    
    }  
        

        
   
