@import "../mixinsAndVariables.scss";

*{
    padding: 0;
    margin:0;
    box-sizing: border-box;

    .contactpage{
        .bg {
            height:30%;
            width:100%;
        }

        .contact {
            text-align:center;
            padding: 20px;
            
            .contactHeading {
              margin:10px;
              padding: 10px;
              color: $darkgrey;
              font-weight:700;             
            }

            .info-form {

                .phone-email{                     
                    .phone-email-heading{
                        margin: 10px;
                        padding: 10px;
                        text-decoration: underline;
                        font-size: 25px;

                    }
                    .mail,
                    .phone {
                        display: flex;
                        justify-content: center;
                        
                        color:$orange;
                        font-weight:600;  
                        
                        .fas,
                        .phoneNumber,
                        .emailAddress {
                            padding: 10px;
                        }
                    }
                }
            }
            .contactform {
                .contact-form-heading {
                    margin: 10px;
                    padding: 10px;
                    text-decoration: underline;
                    font-size: 25px;
                }
                
                .msg {
                    display: flex;
                    justify-content: center;

                    .email,
                    .textarea {            
                        @include inputField;
                        margin: 10px;
                        min-width: 250px;
                        max-width: 800px;
                        width: 60%;
                    }
                
                    .label{
                        .far{
                            font-size:30px;  
                            margin: 5px;            
                        }
                    }
                }
                .button{
                    @include buttonStyle
                }
            }  
        
        } 
    }    

}