.inputContainer {
    // display: flex;
    // justify-content: center;
    text-align: center;
    padding: 15px;
    outline: 2px solid black;
    

    .inputLabel,
    .inputField {
        margin: 10px;
    }

    .inputLabel {
        font-size: 20px;
    }

    .inputField {
        height: 25px;
        border-radius: 5px;
        box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    }   
}

//tablet
@media screen and (min-width:526px) {
    .inputContainer {
        display: flex;
        justify-content: center;
    }
}

// //desktop
// @media only screen and (min-width : 1038px) {

// }