.optionsToClick {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20px 20px 20px;
    text-align: center;
    padding: 5px;
    margin: 2px;
    outline: 2px solid blue;
    
    .optionField {
        list-style: none;
        margin: 0;
        padding: 2px;
        outline: 2px solid grey;
    }
}

//tablet
@media screen and (min-width:526px) {
    .optionsToClick {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

//desktop
@media only screen and (min-width : 1038px) {
    .optionsToClick {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}