@import '../../../mixinsAndVariables.scss';

.optionsToClick {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 50px 50px;
    text-align: center;
    padding: 5px;
    margin: 2px;
    text-transform: uppercase;
    font-size: 16px;
    
    .optionField {
        list-style: none;
        margin: 5px;
        padding: 10px;
        font-size: 18px;
        background-color: $orange;
        font-family: $decorative-font;
        background: linear-gradient(135deg, $orange 0%, $middle-blue 50%, $light-blue 100%);
    }

    .optionField:hover {
        opacity: .7;
    }

    .optionField:active  {
        background-color: $dark-blue;
        color: $orange;
        background: linear-gradient(135deg, $orange 0%, $dark-blue 50%, $middle-blue 100%);
    }
}

//tablet
@media screen and (min-width:526px) {
    .optionsToClick {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 60px 60px;
    }
}

//desktop
@media only screen and (min-width : 1038px) {
    .optionsToClick {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}