@import "../../../mixinsAndVariables.scss";

*{
    padding:0;
    margin:0;
    box-sizing: border-box;

    @mixin center{
        display:flex;
        justify-content:center;
        align-items:center;
    }
    .resetpassword{
        font-family: $decorative-font;
        .fas{
            transform:skewY(20deg);
            
        }
        .one{
            position:absolute;
            top:30%;
            left:30%;
           font-size:50px;
        }
        .two{
            position:absolute;
            top:40%;
            right:30%;
           font-size:50px;
        }
        .three{
            position:absolute;
            bottom:20%;
            left:50%;
           font-size:50px;
        }
        
        h1{
   text-align:center;
    color:$dark-blue;
    margin:20px 0 0 40px;
    font-family: $decorative-font;
        }
        .form{
            @include center;
            flex-direction: column;
            position: relative;
           padding: 110px 0px 30px 45px;
 
        .inputfield{
            @include inputField;
            margin-bottom:10px;
        }
        .button{
            @include buttonStyle;
            padding:5px 10px;

            &:hover{
                @include buttonStyleHover
            }
        }
    
        

    }
}

}