
@import "../../../mixinsAndVariables.scss";

*{
    padding: 0;
    margin:auto;
    box-sizing: border-box;

    @mixin center{
        display:flex;
        justify-content:center;
        align-items:center;

    }
  .login{

    font-family: $decorative-font;
    h1{
     @include center;
    color:$dark-blue;
    margin:20px 0 0 40px;
        
    }

    .form{
        @include center;
        flex-direction: column;
        position: relative;
       padding: 110px 0px 30px 45px;

    //    .form-group{
    //     justify-self:start;
    //    }
        label{
            // float:left;
            margin-right:10px;
            font-size:20px;
          
        }
        .pass{
            margin-left:-40px;
            width:33%;
        }
        .inputfield{
            @include inputField;
            margin-bottom:10px;
        }
        
        button{
            @include buttonStyle;
            padding:5px 10px;

            &:hover{
                @include buttonStyleHover
            }
        }
    }
}
}